# Ambiente virtual Python
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Configurações locais
.env

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml